@import "../theme.scss";

._ {
    border: none;
    transition: 200ms;
    user-select: none;
}

._accent {
    background: $accent1;
    color: $accentText1;

    &:hover {
        background: $accent2;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
            color: $accentText2;
        } 
    }
}

._secondary {
    color: $text1;
    background: $subtle1;

    &:hover {
        background: $subtle2;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
            color: $text3;
        } 
    }
}

._outline {
    color: $text1;
    background: transparent;
    border: 1px solid $subtle2;

    &:hover {
        border-color: $subtle3;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
            color: $text3;
        }
    }
}

._text {
    background: transparent;
    color: $text1;

    &:hover {
        background: $subtle1;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
            color: $text3;
        }
    }
}

._textAccent {
    background: transparent;
    color: $accent1;

    &:hover {
        background: $subtle1;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
            color: $accent2;
        }
    }
}

._small {
    height: 20px;
    font-size: 11px;
    padding: 0 10px;
    border-radius: $radius1;
}

._medium {
    height: 25px;
    font-size: 13px;
    min-width: 60px;
    padding: 0 20px;
    border-radius: $radius1;
}

._large {
    min-width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: $radius2;
}
