@import "../theme.scss";

._ {
    background: $subtle1;
    border: none;
    height: 30px;
    transition: 200ms;
    min-width: 60px;
    border-radius: 3px;
    padding: 0 20px;
    border: 1px solid transparent;

    &:hover {
        background: $subtle2;
        cursor: pointer;

        &:active {
            transform: scale(0.95);
            color: $text3;
        } 
    }
}
